*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    background: url(./assets/texture.png), radial-gradient(100% 200% at 0% 0%, #66687f 0%, #363b6c), #211F20;
    font-family: 'Courier New', Courier, monospace;
}

.mem-slider {
    display: grid;
    grid-template-columns: calc(75% - 1.5rem) 25%;
    grid-template-rows: auto 15vh;
    row-gap: 2.5rem;
    column-gap: 1.5rem;
    margin: 0 auto;
    width: 75vw;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .mem-slider {
        width: 85vw;
    }
}

.mem-slider__slides-container {
    grid-row: 1/2;
    display: flex;
    width: calc(75vw * 8);
    height: 50vh;
}

.mem-slider__text-container {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    color: #d9d0b8;
    width: calc(75vw * 8);
}

.text {
    width: 100%;
    font-size: 1.5rem;
    padding-right: 18rem;
}

.slide {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 1rem;
}

.slide-1 {
    background-image: url("./assets/meme1.gif");
}

.slide-2 {
    background-image: url("./assets/meme2.gif");
}

.slide-3 {
    background-image: url("./assets/meme3.jpg");
}

.slide-4 {
    background-image: url("./assets/meme4.jpg");
}

.slide-5 {
    background-image: url("./assets/meme5.gif");
}

.slide-6 {
    background-image: url("./assets/meme6.jpg");
}

.slide-7 {
    background-image: url("./assets/meme7.jpg");
}

.slide-8 {
    background-image: url("./assets/meme8.gif");
}


.mem-slider__pagination-container {
    display: flex;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    justify-content: flex-end;
    align-self: start;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.pagination-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: antiquewhite;
}

input {
    display: none;
}